<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="week4.day1.DeleteLeadsUsingJUtil"/>
      <class name="week4.day1.EditLeadUsingJunit"/>
      <class name="week4.day1.MergeLeadsUsingJUtil"/>
      <class name="week4.day1.DuplicateLeadUsingJUtil"/>
      <class name="week4.day1.CreateLeadUsingJUtil"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
